section.form#form
  .wrapper
    h2.form__title order a call back
    .result#result
    form.form__form#form(method="post" action="php/bitrix-main.php" onsubmit='gtag_report_conversion1()')
      input.form__input(type="text" id="name-form" name="name" placeholder="Name")
      input.form__input(type="tel" name="phone" id="phone-form" placeholder="(000) 000-00-00")
      input.form__input(type="tel" class="hide" name="hiden" id="hiden-form")
      input.form__input(type="email" id="email-form" name="email" placeholder="Email")
      select.form__input(name="propName")
        option(value="default") Choose property
        option(value="Palm Beach Tower") Palm Beach Tower
        option(value="Burj Binghatti Jacob Co Residences") Burj Binghatti Jacob & Co Residences
        option(value="Cavalli Couture") Cavalli Couture
        option(value="Elegance Tower") Elegance Tower
        option(value="Sobha SeaHaven") Sobha SeaHaven
        option(value="Chic Tower") Chic Tower
        option(value="The Cove") The Cove
        option(value="Orla Dorchester") Orla Dorchester
        option(value="Safa One") Safa One
      input(name='utm-source' type='hidden' value="")
      input(name='utm-medium' type='hidden' value="")
      input(name='utm-content' type='hidden' value="")
      input(name='utm-term' type='hidden' value="")
      p.form__policy By sending data, you agree with the 
        a.form__link(href="/policy") Privacy Policy
      button.form__submit(type="submit" disabled) Free consultation
