section.projects#projects
  .projects__bg
  .wrapper
    .projects__banner
      h2.projects__title Projects
      a.projects__btn(href="#form") Free consultation
    .projects__items
      h2.projects__items-title HOT DEALS
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-hillcrest.webp" alt="HILLCREST villa look")
        .project__promo
          p.project__promo-descr(data-type="villa") villa
          p.project__promo-price from 21 680 000 AED
        .project__content
          p.project__title Address villas - Hillcrest
          p.project__subtitle Hadaeq Sheikh Mohammed Bin Rashid
          p.project__descr Address villas - Hillcrest - is a new residential complex of villas located in Dubai Hills Estate.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 5
          button.project__btn(type="button") more
        include project-popup/hillcrest.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-onecanal.webp" alt="One Canal penthouse and sky villas")
        .project__promo
          p.project__promo-descr(data-type="flat") penthouse
          p.project__promo-price from 18 000 000 AED
        .project__content
          p.project__title One Canal penthouse and sky villas
          p.project__subtitle Al Safa 1
          p.project__descr A selection of luxury apartments at your service
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") more
        include project-popup/one-canal.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-mudon.webp" alt="Mudon Al Ranim")
        .project__promo
          p.project__promo-descr(data-type="townhouse") townhouse
          p.project__promo-price from 5 160 000 AED
        .project__content
          p.project__title Mudon Al Ranim
          p.project__subtitle Dubailand
          p.project__descr Mudon Al Ranim - is a collection of elegant townhouses in Dubai.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") more
        include project-popup/mudon.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-lavioleta.webp" alt="La Violeta 2")
        .project__promo
          p.project__promo-descr(data-type="townhouse") townhouse
          p.project__promo-price from 1 700 000 AED
        .project__content
          p.project__title La Violeta 2
          p.project__subtitle Dubailand
          p.project__descr La Violeta 2 – a cluster of residential residences in one of the greenest oases in Dubai
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") more
        include project-popup/la-violeta.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-bluewatersbay.webp" alt="Bluewaters Bay")
        .project__promo
          p.project__promo-descr(data-type="flat") Penthouse
          p.project__promo-price от 2 560 000 AED
        .project__content
          p.project__title Bluewaters Bay
          p.project__subtitle Bluewaters Bay
          p.project__descr Bluewaters Bay is the best choice for those wishing to experience resort-inspired lifestyle on the shore of the Arabian Gulf. The complex consists of two thoughtfully designed towers. Future residents can choose a residential unit from 1-4 bedroom apartments & penthouses
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") more
        include project-popup/bluewaters-bay.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-sixsenses.webp" alt="Six Senses")
        .project__promo
          p.project__promo-descr(data-type="townhouse") luxury residential complex
          p.project__promo-price от 9 400 000 AED
        .project__content
          p.project__title Six Senses
          p.project__subtitle Palm Jumeirah
          p.project__descr As the first Six Senses hotel and residences in the UAE, Six Senses The Palm is a new milestone for the ultra-luxurious hotel chain. The project offers 60 luxurious hotel rooms and 162 exquisite residences located on the iconic Palm Jumeirah
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") more
        include project-popup/six-senses.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-seascape.webp" alt="Seascape")
        .project__promo
          p.project__promo-descr(data-type="townhouse") luxury residential complex
          p.project__promo-price от 1 300 000 AED
        .project__content
          p.project__title Seascape
          p.project__subtitle Rashid Yachts & Marina
          p.project__descr Emaar Seascape is a luxury residential complex located on the waterfront in the bustling Rashid Yachts & Marina area. The project offers 1-3 bedroom apartments and townhouses for sale with picturesque views of the marina, beach and surroundings
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") more
        include project-popup/seascape.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-zuhaisland.webp" alt="Zuha Island")
        .project__promo
          p.project__promo-descr(data-type="villa") Villas
          p.project__promo-price от 60 000 000 AED
        .project__content
          p.project__title Zuha Island
          p.project__subtitle ZUHA Island
          p.project__descr The exclusive residences on ZUHA Island will be serviced by the FIVE Hotel, which will offer an a la carte menu of services such as housekeeping, maintenance and catering, etc. Residents of the villas will be able to enjoy world-class dining experiences by ordering dishes from four main dining establishments in the exclusive community.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") more
        include project-popup/zuha-island.pug
