section.projects#projects
  .projects__bg
  .wrapper
    .projects__banner
      h2.projects__title Projects
      a.projects__btn(href="#form") Free consultation
    .projects__items
      h2.projects__items-title HOT DEALS
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-palmbeach.webp" alt="Palm Beach Tower apparts")
        .project__promo
          p.project__promo-descr(data-type="appart") apartments
          p.project__promo-price from 2 000 000 AED
        .project__content
          p.project__title Palm Beach Tower 
          p.project__subtitle Palm Jumeirah
          p.project__descr Palm Beach Tower - offers sun-drenched spaces, exceptional cuisines
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 5
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") more
        include project-popup/palm-beach.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-burjbinghatti.webp" alt="Burj Binghatti Jacob & Co Residences Best")
        .project__promo
          p.project__promo-descr(data-type="appart") apartments
          p.project__promo-price from 10 000 000 AED
        .project__content
          p.project__title Burj Binghatti Jacob & Co Residences
          p.project__subtitle SHEIKH ZAYED ROAD
          p.project__descr Luxurious modern lifestyle in the metropolis
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") more
        include project-popup/burj-binghatti.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-cavallicouture.webp" alt="Cavalli Couture")
        .project__promo
          p.project__promo-descr(data-type="appart") apartments
          p.project__promo-price от 16 500 000 AE
        .project__content
          p.project__title Cavalli Couture
          p.project__subtitle Dubai canal
          p.project__descr DAMAC introduces the new Cavalli Couture, featuring 3, 4 and 5-bedroom apartments located on the Dubai Water Canal. Residences can now enjoy a luxurious lifestyle that goes beyond the luxury and class that is standard and premium, as a result of the attractive lifestyle next to the canal
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 2
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 2
          button.project__btn(type="button") more
        include project-popup/сavalli-сouture.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-elegancetower.webp" alt="Elegance Tower")
        .project__promo
          p.project__promo-descr(data-type="appart") apartments
          p.project__promo-price от 1 790 000 AE
        .project__content
          p.project__title Elegance Tower
          p.project__subtitle Downtown
          p.project__descr Elegance Tower is a new premium residential project co-designed by famed fashion icon – Zuhair Murad, which will be located in Downtown Dubai. The developer of this stunning skyscraper is DAMAC, which is known for such projects as DAMAC Lagoons & fashionable Cavalli Tower
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") more
        include project-popup/elegance-tower.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-sobhaseahaven.webp" alt="Sobha SeaHaven")
        .project__promo
          p.project__promo-descr(data-type="appart") apartments
          p.project__promo-price от 3 180 000 AED
        .project__content
          p.project__title Sobha SeaHaven
          p.project__subtitle Dubai Marina
          p.project__descr Sobha SeaHaven is one of the latest projects in Dubai bySobha Realty, a premium real estate developer known for luxurious developments such as Crest Grande, The Waves, Hartland Greens and One Park Avenue
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") more
        include project-popup/sobha-seahaven.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-сhictower.webp" alt="Chic Tower")
        .project__promo
          p.project__promo-descr(data-type="appart") apartments
          p.project__promo-price от 823 000 AED
        .project__content
          p.project__title Chic Tower
          p.project__subtitle Branded Residences in Business Bay
          p.project__descr DAMAC Chic Tower offers exclusive studios & 1-2 bedroom apartments for sale in Business Bay with holistic lifestyle experience which brings together restorative baths, beauty treatments, state of the art gyms, residential luxury and jeweller de GRISOGONO’s unique interpretation of one of the world’s most beloved gemstones
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 2
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 2
          button.project__btn(type="button") more
        include project-popup/chic-tower.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-thecove.webp" alt="The Cove")
        .project__promo
          p.project__promo-descr(data-type="appart") apartments
          p.project__promo-price от 1 300 000 AED
        .project__content
          p.project__title The Cove
          p.project__subtitle Dubai Creek Harbour
          p.project__descr The Cove is a luxury waterfront apartments complex from Emaar Properties, which is being built in the new coastal area of Dubai Dubai Creek Harbour. The project is located in the southern part of Creek Island on the canal embankment, 200 m from the water
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 2
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") more
        include project-popup/the-cove.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-orladorchester.webp" alt="Orla Dorchester")
        .project__promo
          p.project__promo-descr(data-type="appart") apartments
          p.project__promo-price от 22 000 000 AED
        .project__content
          p.project__title Orla Dorchester
          p.project__subtitle Palm Jumeirah
          p.project__descr Orla is a 13-storey building, offering 93 units of different layouts,which will be located on one of the most desirable locations in Dubai – Palm Jumeirah. Owners can choose from 2-bedroom apartments and 3-4 bedroom simplex & duplex units for sale
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") more
        include project-popup/orla-dorchester.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-safaone.webp" alt="Safa One")
        .project__promo
          p.project__promo-descr(data-type="appart") apartments
          p.project__promo-price от 1 600 000 AED
        .project__content
          p.project__title Safa One
          p.project__subtitle Safa Park, with Burj Khalifa and Business Bay in the background
          p.project__descr DAMAC Safa One is a tropical paradise at the pinnacle of luxurious opening onto breathtaking views as far as the eye can see. Be it the refinement of a 1 bedroom home in Tower B or an ultra-luxurious 2 or 3 bedroom suite with personal splash pool, Safa One sets a new great standard in sophistication
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 2
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") more
        include project-popup/safa-one.pug
