.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title La Violeta 2
      p.popup__descr La Violeta 2 – кластер жилых резиденций в одном из самых зеленых оазисов Дубая, поселке Villanova, который находится к юго-востоку от Dubailand. Сеть комьюнити, входящих в состав района Villanova, отличает единый средиземноморский стиль как в архитектуре, так и в ландшафтном дизайне. Виллы, таунхаусы и апартаменты в поселке Villanova относятся к сегменту доступного жилья. Виллы в La Violeta 2 представляют собой завершающий аккорд симфонии жилых комплексов La Violeta at Villanova.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr престижный район
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr близко к школе и садику
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr близко к пляжу
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr фитнес зал
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr спа центр
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr парки и развитая инфраструктура
      .popup__map
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/popup-promo-slide.webp" alt="#")
        picture.popup__promo-slide
          img(src="images/dest/banner-slide-3.webp" alt="#")
      p.popup__promo-title УСПЕЙТЕ КУПИТЬ
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="form") бесплатная консультация
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
