.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title Palm Beach Tower
      p.popup__descr Все апартаменты в Palm Beach Towers, будь то с одной, двумя, тремя, четырьмя спальнями или пентхаус, предлагает залитые солнцем пространства, исключительные кухни и потрясающую сантехнику и отделку. Это означает, что каждое мгновение, которое вы проводите дома, просто идеально, будь то развлечения в просторной гостиной и столовой или отдых, погруженный в легкую и воздушную эстетику.
      p.popup__descr Palm Beach Towers расположен на въезде в Пальму Джумейра, прямо в центре одного из самых захватывающих и оживленных районов города. Насладитесь свободой солнечной прогулки по некоторым из самых известных ресторанов или проведите день за покупками в магазинах роскошных торговых марок, которые вы любите.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Зона для занятия йогой
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Тренажерный зал
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Детская площадка
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Открытый пейзажный бассейн
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr СПА
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Частный пляж
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Прибрежный парк и набережная
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Причал для лодки
      .popup__map
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/popup-promo-slide.webp" alt="#")
        picture.popup__promo-slide
          img(src="images/dest/banner-slide-3.webp" alt="#")
      p.popup__promo-title УСПЕЙТЕ КУПИТЬ
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="form") бесплатная консультация
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
