.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title Seascape
      a.popup__pdf(href="pdf/SEASCAPE_RYM_BROCHURE.pdf") Download PDF
      p.popup__descr Seascape — новый жилой проект в Rashid Yachts & Marina. Автор проекта – ведущий девелопер – компания Emaar Properties. Проект будет состоять из четырех зданий с современным архитектурным дизайном и интерьером. Среди объектов на продажу представлены 1-3-комнатные квартиры и 3-комнатные таунхаусы. Общее количество квартир составляет 391, и будет доступно 300 крытых парковочных мест. Жителям Emaar Seascape будет доступен ряд удобств, в том числе бассейн, аквапарк, площадь на набережной, тренажерный зал, общественный парк, корты, променад и многое другое. Покупка квартиры в Emaar Seascape — идеальный вариант для тех, кто ценит комфорт и хочет выгодно инвестировать в свое будущее. Проект планируется завершить в четвертом квартале 2026 года, и есть возможность получить 10-летнюю золотую визу ОАЭ, став владельцем недвижимости в Mina Rashid Seascape.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Яхт-клуб
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Частный пляж
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Бесконечный бассейн
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Парк с фонтанами
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Фудтраки
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Игровая площадка
      .popup__map
        script#ymap_lazy(type='text/javascript' charset='utf-8' async='' data-src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4c396d03a24383f57f0c5afac49639d28d4ce260c867f432502f50e4d64bcf1f&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true')
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-1.webp" alt="Seascape слайд-1")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-2.webp" alt="Seascape слайд-2")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-3.webp" alt="Seascape слайд-3")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-4.webp" alt="Seascape слайд-4")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-5.webp" alt="Seascape слайд-5")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-6.webp" alt="Seascape слайд-6")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-7.webp" alt="Seascape слайд-7")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-8.webp" alt="Seascape слайд-8")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-9.webp" alt="Seascape слайд-9")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-10.webp" alt="Seascape слайд-10")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-11.webp" alt="Seascape слайд-11")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-12.webp" alt="Seascape слайд-12")
      p.popup__promo-title УСПЕЙТЕ КУПИТЬ
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") бесплатная консультация
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
