header.header
  .wrapper
    nav.header__nav
      ul
        li
          a.header__link Преимущества
        li
          a.header__link Проекты
        li
          a.header__link О Компании
        li
          a.header__link FAQ
    .header__logo
      +icon("header-logo", "header__logo-icon")
    .header__contacts
      ul
        li
          a.header__link(href="tel:+123") +9 (715) 858 35 333
        li
          a.header__link(href="#") Подобрать недвижимость
