doctype html
html(lang="ru")
   block head
      head
          meta(charset="utf-8")
          title Top Level
          meta(content="width=device-width, initial-scale=1" name="viewport")
          meta(content="ie=edge" http-equiv="x-ua-compatible")
          link(rel="stylesheet" href="css/app.min.css")
      body
          script
            include metrika.js
          script(src="https://www.googletagmanager.com/gtag/js?id=G-EBX8MEHXB0" async)
          script
            include ga.js
          noscript
            div
              img(src='https://mc.yandex.ru/watch/91960127' style='position:absolute; left:-9999px;' alt='')


      
          include svg.pug
          block header
            include header

          block content
          
          //- block footer
          //-   include footer
