.about
  padding-top: 180px
  .wrapper
    display: grid
    grid-template-columns: 1fr 1fr
  &__img
    width: 606px
  &__content
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
  &__title
    color: $bronzeDark
    width: 100%
  &__descr
    color: $textDark
    width: 288px
