.faq
  padding: 180px 0
  .wrapper
    display: grid
    grid-template-columns: 1fr 2fr
    gap: 50px
  &__title
    color: $bronzeDark
    width: 400px
    // font-family: 'Viaoda Libre', cursive
  &__items
    color: $textDark
  &__item
    padding-bottom: 19px
    border-bottom: 1px solid $bronze
    &.active
      .faq__a
        display: block
  &__q
    position: relative
    a
      position: relative
      font-size: 24px
      line-height: 150%
      text-transform: uppercase
      padding: 19px 0
      display: block
      width: 100%
      color: $textDark
      text-decoration: none
      z-index: 10
      width: 95%
      &:hover
        color: $textDark
        text-decoration: none
    &:before
      content: url('../images/dest/icons/arrow.svg')
      position: absolute
      right: 0
      bottom: 24px
      z-index: 5
  &__a
    display: none


  @include media-tablet
    padding: 80px 0 55px
    .wrapper
      grid-template-columns: 100%
      gap: 10px
    &__title
      width: 60%
    &__q
      padding-left: 43px
      a
        font-size: 12px
        line-height: 120%
        font-weight: 300
        padding: 0
        padding: 18px 0
        width: 90%
      &:before
        content: url('../images/dest/icons/arrow-ddown.svg')
        bottom: auto
        top: 30px
      &:after
        content: '01'
        font-size: 14px
        height: 100%
        font-family: 'Viaoda Libre', cursive
        position: absolute
        left: 0
        top: 18px
        z-index: 5

    &__list
      padding-left: 16px
    &__item
      padding: 0
      &:last-child
        border-bottom: none
      &.active
        padding-bottom: 18px
        .faq__q
          &::before
            transform: rotate(180deg)
