.projects
  background-image: url('../images/dest/projects-bg.webp')
  background-repeat: no-repeat
  background-size: 100% auto
  background-position: 50% 180px
  padding-top: 180px
  &__banner
    padding: 220px 0 150px
  &__title
    font-size: 178.333px
    line-height: 120%
    width: 827px
    margin: 0 auto
    color: $main
  &__btn
    margin: 0 auto
    display: block
    color: $textDark
    border: 0
    padding: 12px 51px
    font-size: 16px
    line-height: 150%
