.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title DAMAC Elegance Towerance Tower in Downtown Dubai
      a.popup__pdf(href="pdf/ELEGANCE TOWER PRESENTATION.pdf") download the brochure
      p.popup__descr Elegance Tower is a new premium residential project, which will be located in Downtown Dubai, steps away from The Dubai Mall. The developer of this stunning skyscraper is DAMAC, which is known for such projects as DAMAC Lagoons, DAMAC Hills and fashionable Cavalli Tower. Future residents of DAMAC Elegance Tower can choose from stylish 1-2 bedroom apartments with exciting views of Dubai Downtown and surroundings. There is also an opportunity to purchase a full floor. Among the key amenities which will be available to those living in Elegance Tower is a swimming pool with a deck and a garden, located on a podium of the building.
      p.popup__descr Purchasing an apartment in Elegance Tower is a profitable investment into your future, as you will get an opportunity to experience a premium lifestyle in Downtown Dubai with access to endless amenities, F&B and shopping options, as well as entertainment activities. In addition, you will always be able to resell a property after the completion or rent it out, as the average ROI for a 1-bedroom apartment in the area is 6.7%.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr 24/7 Security
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Fitness Gym
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Infinity Pools
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Play Area
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Retail Store
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Furnished
      .popup__map
        script#ymap_lazy(type='text/javascript' charset='utf-8' async='' data-src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4c396d03a24383f57f0c5afac49639d28d4ce260c867f432502f50e4d64bcf1f&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true')
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/project-popup/chic-tower/slide-1.webp" alt="Elegance Tower слайд-1")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/chic-tower/slide-2.webp" alt="Elegance Tower слайд-2")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/chic-tower/slide-3.webp" alt="Elegance Tower слайд-3")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/chic-tower/slide-4.webp" alt="Elegance Tower слайд-4")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/chic-tower/slide-5.webp" alt="Elegance Tower слайд-5")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/chic-tower/slide-6.webp" alt="Elegance Tower слайд-6")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/chic-tower/slide-7.webp" alt="Elegance Tower слайд-7")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/chic-tower/slide-8.webp" alt="Elegance Tower слайд-8")
      p.popup__promo-title УСПЕЙТЕ КУПИТЬ
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") Free consultation
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
