.popup-promo#popup-promo
  .project-popup__bg
  .wrapper
    img.popup-promo__bg.popup-promo__bg-left(src="images/dest/popup-promo-bg-left.webp")
    img.popup-promo__bg.popup-promo__bg-right(src="images/dest/popup-promo-bg-right.webp")
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
    .popup-promo__content
      p.popup-promo__title Получите доступ
        br
        |к закрытой продаже
      form.form__form.popup-promo__form
        input.form__input.popup-promo__input(type="email" id="email" name="email" placeholder="Email")
        p.form__policy.popup-promo__policy Отправляя данные вы соглашаетесь с 
          a.form__link.popup-promo__link(href="/policy") политикой конфиденциальности
        button.form__submit.popup-promo__submit(type="submit") Подписаться
      //- img.popup-promo-img(src="images/dest/popup-promo.webp")
    
