.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title DAMAC Safa One de GRISOGONO The Skylofts Collection
      a.popup__pdf(href="pdf/SAFA ONE - The Prestige Collection - brochure English.pdf") download the brochure
      p.popup__descr DAMAC Properties presents The Skylofts Collection in its flagship development Safa One. That being said, potential real estate buyers are provided with the opportunity of picking their dream home from the selection of beautifully crafted 2-5 bedroom duplexes. The exquisite residences will be constructed on the 40th to 61st floors of the branded skyscraper and homeowners will be granted unrestricted access to a tropical garden and a rainforest on the top level, in addition to a man-made beach pool on the podium floor.
      p.popup__descr Safa One was initially launched back in Q1 2022 in collaboration with the Swiss jewelry brand de GRISOGONO. Among key features of the development, which is due in 2026, are garden terraces on every level, cascading waterfalls, plentiful gardens, exotic birds and much more. It is worth noting that in line with the latest UAE visa overhaul, when purchasing an off-plan property priced at a minimum of AED 2M, you become eligible for a 10-year Golden Visa. This residency scheme enables its holders to live, work and study in the UAE without local sponsorship, along with their families and domestic staff.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Infinity pools
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Play area
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Retail store
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr 27/7 security
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Furnished
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Fitness Gym
      .popup__map
        script#ymap_lazy(type='text/javascript' charset='utf-8' async='' data-src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4c396d03a24383f57f0c5afac49639d28d4ce260c867f432502f50e4d64bcf1f&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true')
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/project-popup/safa-one/slide-1.webp" alt="Safa One слайд-1")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/safa-one/slide-2.webp" alt="Safa One слайд-2")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/safa-one/slide-3.webp" alt="Safa One слайд-3")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/safa-one/slide-4.webp" alt="Safa One слайд-4")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/safa-one/slide-5.webp" alt="Safa One слайд-5")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/safa-one/slide-6.webp" alt="Safa One слайд-6")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/safa-one/slide-7.webp" alt="Safa One слайд-7")
      p.popup__promo-title УСПЕЙТЕ КУПИТЬ
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") Free consultation
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
