.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title Seascape
      a.popup__pdf(href="pdf/SEASCAPE_RYM_BROCHURE.pdf") download the brochure
      p.popup__descr Seascape is an new residential project in Rashid Yachts & Marina. The author of the project is the leading developer – Emaar Properties. The project will consist of four buildings boasting contemporary architectural design and interiors. Among units for sale are 1-3 bedroom apartments and 3-bedroom townhouses. The total number of units is 391, and 300 covered parking spaces will be available. A range of amenities will be available to residents of Emaar Seascape, including a pool, a splash park, a waterfront plaza, a gym, a community park, courts, a boardwalk promenade and much more. Purchasing a residential unit in Emaar Seascape is the perfect option for those who value their comfort and wish to make a profitable investment into their future. The project is planned to be completed in Q4 2026, and there is an opportunity to get a 10-year Golden UAE Visa while becoming an owner of a property in Mina Rashid Seascape.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr  Yacht Club
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Private Beach
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Infinity Pool
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Splash Pad
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Food Trucks
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Play Area
      .popup__map
        script#ymap_lazy(type='text/javascript' charset='utf-8' async='' data-src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4c396d03a24383f57f0c5afac49639d28d4ce260c867f432502f50e4d64bcf1f&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true')
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-1.webp" alt="Seascape slide-1")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-2.webp" alt="Seascape slide-2")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-3.webp" alt="Seascape slide-3")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-4.webp" alt="Seascape slide-4")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-5.webp" alt="Seascape slide-5")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-6.webp" alt="Seascape slide-6")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-7.webp" alt="Seascape slide-7")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-8.webp" alt="Seascape slide-8")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-9.webp" alt="Seascape slide-9")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-10.webp" alt="Seascape slide-10")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-11.webp" alt="Seascape slide-11")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/seascape/slide-12.webp" alt="Seascape slide-12")
      p.popup__promo-title УСПЕЙТЕ КУПИТЬ
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") Free consultation
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
