.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title Six Senses
      a.popup__pdf(href="pdf/Six-Senses-Residences-The-Palm-Dubai-Brochure.pdf") download the brochure
      p.popup__descr Six Senses Residences is a new luxury waterfront project on Palm Jumeirah in Dubai. The development is the joint venture between the Select Group and ESIC, which have signed a management agreement with Six Senses Hotels Resorts Spas. The companies are introducing the first Six Senses hotel as well as branded residences to the UAE, which offer the luxury beachfront living.
      p.popup__descr The total area of the residential project will constitute 1.2M sqft, with the construction of Six Senses The Palm starting at the beginning of 2022 and the estimated date of completion being Q4 2024. The Six Senses Residences will include 162 ultra-luxury residences and a hotel with 60 rooms with gorgeous views of the Palm and the rest of Dubai, 60,000 sqft of amenities. The residential development offers a mix of properties, including 121 penthouses, 32 sky villas and 9 signature beachfront villas. All housing units will be managed by Six Senses, which will provide residents with privileged access to the hotel’s top-class amenities such as a tennis court, large swimming pools, a football field, restaurants, a library, bars, a children’s club and much more.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Large Pools
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Parks
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Sandy Beach
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Play Area
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Retail Store
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Palm Monorail
      .popup__map
        script#ymap_lazy(type='text/javascript' charset='utf-8' async='' data-src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4c396d03a24383f57f0c5afac49639d28d4ce260c867f432502f50e4d64bcf1f&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true')
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/project-popup/six-senses/slide-1.webp" alt="Six Senses слайд-1")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/six-senses/slide-2.webp" alt="Six Senses слайд-2")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/six-senses/slide-3.webp" alt="Six Senses слайд-3")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/six-senses/slide-4.webp" alt="Six Senses слайд-4")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/six-senses/slide-5.webp" alt="Six Senses слайд-5")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/six-senses/slide-6.webp" alt="Six Senses слайд-6")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/six-senses/slide-7.webp" alt="Six Senses слайд-7")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/six-senses/slide-8.webp" alt="Six Senses слайд-8")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/six-senses/slide-9.webp" alt="Six Senses слайд-9")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/six-senses/slide-10.webp" alt="Six Senses слайд-10")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/six-senses/slide-11.webp" alt="Six Senses слайд-11")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/six-senses/slide-12.webp" alt="Six Senses слайд-12")
      p.popup__promo-title УСПЕЙТЕ КУПИТЬ
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") Free consultation
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
