.project-popup
  .project-popup__bg
  .popup
    .popup__content
      h2.popup__title Zuha Island
      a.popup__pdf(href="pdf/ZUHA ISLAND PRESENTATION - 27th Oct.pdf") download the brochure
      p.popup__descr Released in Q4 2022, ZUHA Island is a super-luxury secluded resort retreat by the award-winning ZAYA and FIVE Holdings, which is nestled within the World Islands, just 15 minutes’ away from the mainland of Dubai. Combining breathtaking scenery and a serene atmosphere, the private island will house a collection of 30 limited edition waterfront palatial villas with 6-bedroom layouts. The plot size of these gorgeous residences will range from 24,000 sq. ft to 41,000 sq. ft, out of which 19,656 sq. ft will be dedicated to the BUA. The master plan also includes the construction of a boutique resort with 80 waterfront residences, which are not for sale.
      p.popup__descr Featuring premium natural materials such as travertine and marble, the ultra-refined ZUHA Island villas will exude the ultimate sophistication and exquisiteness. Each royal residence will feature 4 unique levels, which will rise up from the beachfront to the vast horizon and will be centralised around a single breathtaking spiral staircase. For a truly extravagant and unique look, the forms and shapes of the ZUHA Island villas will be reminiscent of the island, ocean, wind and waves.
      .popup__benefits
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Grocery store
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Parks
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Beaches
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Playgrounds
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Pools
        .popup__benefits-item
          +icon("benefits-icon", "popup__benefits-icon")
          p.popup__benefits-descr Fitness gyms
      .popup__map
        script#ymap_lazy(type='text/javascript' charset='utf-8' async='' data-src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A4c396d03a24383f57f0c5afac49639d28d4ce260c867f432502f50e4d64bcf1f&amp;width=100%25&amp;height=240&amp;lang=ru_RU&amp;scroll=true')
    .popup__promo
      .popup__promo-slider
        picture.popup__promo-slide
          img(src="images/dest/project-popup/zuha-island/slide-1.webp" alt="Six Senses слайд-1")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/zuha-island/slide-2.webp" alt="Six Senses слайд-2")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/zuha-island/slide-3.webp" alt="Six Senses слайд-3")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/zuha-island/slide-4.webp" alt="Six Senses слайд-4")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/zuha-island/slide-5.webp" alt="Six Senses слайд-5")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/zuha-island/slide-6.webp" alt="Six Senses слайд-6")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/zuha-island/slide-7.webp" alt="Six Senses слайд-7")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/zuha-island/slide-8.webp" alt="Six Senses слайд-8")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/zuha-island/slide-9.webp" alt="Six Senses слайд-9")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/zuha-island/slide-10.webp" alt="Six Senses слайд-10")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/zuha-island/slide-11.webp" alt="Six Senses слайд-11")
        picture.popup__promo-slide
          img(src="images/dest/project-popup/zuha-island/slide-12.webp" alt="Six Senses слайд-12")
      p.popup__promo-title УСПЕЙТЕ КУПИТЬ
      .popup__promo-timer#timer 10:00:00
      a.popup__promo-btn(href="#form") Free consultation
    .popup__nav
      +icon("project-popup-close", "popup__nav-close")
