section.about
  .wrapper
    .about__img
      img(src="images/dest/about.webp")
    .about__content
      h2.about__title о компании
      p.about__descr Some text if you need to describe fiatures properly. Some text if you need to describe fiatures properly.Some text if you need to describe fiatures properly.Some text if you need to describe fiatures properly. Some text if you need to describe fiatures properly. Some text if you need to describe fiatures properly.Some text if you need to describe fiatures properly.Some text if you need to describe fiatures properly.
      p.about__descr Some text if you need to describe fiatures properly. Some text if you need to describe fiatures properly.Some text if you need to describe fiatures properly.Some text if you need to describe fiatures properly. Some text if you need to describe fiatures properly. Some text if you need to describe fiatures properly.Some text if you need to describe fiatures properly.Some text if you need to describe fiatures properly.
