section.banner
  .banner__slider
    img.banner__slide(src="images/dest/banner-slide-1.webp")
    img.banner__slide(src="images/dest/banner-slide-2.webp")
    img.banner__slide(src="images/dest/banner-slide-3.webp")
  .wrapper
    h1.banner__title 
      span Весь спектр недвижимости в Дубае
      |квадратные метры
      br 
      |под любые цели
    a.banner__btn(href="#form") Бесплатная консультация
