section.banner
  .wrapper
    h1.banner__title 
      span Весь спектр недвижимости в Дубае
      |квадратные метры
      br 
      |под любые цели
    button.banner__btn(type="button") Бесплатная консультация
