section.banner
  .wrapper
    h3.banner__subtitle Весь спектр недвижимости в Дубаях
    h1.banner__title От студии 
      br 
      |до роскошной виллы
    button.banner__btn(type="button") Бесплатная консультация
