section.benefits
  .wrapper
    h2.benefits__title Преимущества жизни в Дубаях
    .benefits__items
      .benefits__item.active
        span.benefits__nmbr 01
        p.benefits__item-title Консультирование
        ul.benefits__list
          li.benefits__list-item Всестороннее исследование приобретаемых объектов
          li.benefits__list-item Экспертное сопровождение на всех этапах сделки
          li.benefits__list-item Ответы на вопросы о любых видах недвижимости в Дубае
          li.benefits__list-item Индивидуальный подход и быстрое реагирование
        picture.benefits__img
          img(src="images/dest/benefits-1.webp" alt="#")
      .benefits__item 
        span.benefits__nmbr 02
        p.benefits__item-title Поиск, выбор, покупка
        ul.benefits__list
          li.benefits__list-item Всестороннее исследование приобретаемых объектов
          li.benefits__list-item Экспертное сопровождение на всех этапах сделки
          li.benefits__list-item Ответы на вопросы о любых видах недвижимости в Дубае
          li.benefits__list-item Индивидуальный подход и быстрое реагирование
        picture.benefits__img
          img(src="images/dest/benefits-1.webp" alt="#")
      .benefits__item 
        span.benefits__nmbr 03
        p.benefits__item-title Обслуживание после покупки
        ul.benefits__list
          li.benefits__list-item Всестороннее исследование приобретаемых объектов
          li.benefits__list-item Экспертное сопровождение на всех этапах сделки
          li.benefits__list-item Ответы на вопросы о любых видах недвижимости в Дубае
          li.benefits__list-item Индивидуальный подход и быстрое реагирование
        picture.benefits__img
          img(src="images/dest/benefits-1.webp" alt="#")
      .benefits__item 
        span.benefits__nmbr 04
        p.benefits__item-title Получение вида на жительство в ОАЭ
        ul.benefits__list
          li.benefits__list-item Всестороннее исследование приобретаемых объектов
          li.benefits__list-item Экспертное сопровождение на всех этапах сделки
          li.benefits__list-item Ответы на вопросы о любых видах недвижимости в Дубае
          li.benefits__list-item Индивидуальный подход и быстрое реагирование
        picture.benefits__img
          img(src="images/dest/benefits-1.webp" alt="#")
