section.benefits
  .wrapper
    h2.benefits__title Преимущества жизни в Дубаях
    .benefits__items
      .benefits__item 
        +icon('benefits-icon', 'benefits__icon')
        p.benefits__descr Безопасность инвестиций (экскроу-счет)
      .benefits__item 
        +icon('benefits-icon', 'benefits__icon')
        p.benefits__descr Безопасность инвестиций (экскроу-счет)
      .benefits__item 
        +icon('benefits-icon', 'benefits__icon')
        p.benefits__descr Безопасность инвестиций (экскроу-счет)
      .benefits__item 
        +icon('benefits-icon', 'benefits__icon')
        p.benefits__descr Безопасность инвестиций (экскроу-счет)
      .benefits__item 
        +icon('benefits-icon', 'benefits__icon')
        p.benefits__descr Безопасность инвестиций (экскроу-счет)
      .benefits__item 
        +icon('benefits-icon', 'benefits__icon')
        p.benefits__descr Безопасность инвестиций (экскроу-счет)
