section.faq
  .wrapper
    h2.faq__title Ответы на ваши впросы
    .faq__items
      .faq__item
        .faq__q 
          a Из чего состоит процесс покупки недвижимости в Дубае?
        .faq__a 
      .faq__item
        .faq__q 
          a(href="#") Является ли покупка помещения в Дубае основанием для получения гражданства ОАЭ?
        .faq__a 
      .faq__item
        .faq__q 
          a(href="#") Как покупателю обезопасить свои средства в сделке купли-продажи?
        .faq__a 
      .faq__item
        .faq__q 
          a(href="#") Может ли иностранный покупатель оформить приобретение недвижимости в рассрочку?
        .faq__a 
      .faq__item
        .faq__q 
          a(href="#") Можно ли купить квартиру в Дубае в ипотеку?
        .faq__a 
      .faq__item
        .faq__q 
          a(href="#") Обязательно ли пользоваться услугами риелторов или можно самостоятельно провести сделку с застройщиком?
        .faq__a 
