section.projects#projects
  .projects__bg
  .wrapper
    .projects__banner
      h2.projects__title Проекты
      a.projects__btn(href="#form") Бесплатная консультация
    .projects__items
      h2.projects__items-title горячие предложения
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-hillcrest.webp" alt="HILLCREST villa look")
        .project__promo
          p.project__promo-descr(data-type="villa") вилла
          p.project__promo-price от 21 680 000 ₽
        .project__content
          p.project__title Address villas - Hillcrest
          p.project__subtitle Hadaeq Sheikh Mohammed Bin Rashid
          p.project__descr Address villas - Hillcrest - это новый жилой комплекс вилл, расположенный в Dubai Hills Estate.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 5
          button.project__btn(type="button") Смотреть
        include project-popup/hillcrest.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-onecanal.webp" alt="One Canal penthouse and sky villas")
        .project__promo
          p.project__promo-descr(data-type="flat") пентхаус
          p.project__promo-price от 367 781 984 ₽
        .project__content
          p.project__title One Canal penthouse and sky villas
          p.project__subtitle Al Safa 1
          p.project__descr Выбор роскошных апартаментов к вашим услугам
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") Смотреть
        include project-popup/one-canal.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-mudon.webp" alt="Mudon Al Ranim")
        .project__promo
          p.project__promo-descr(data-type="townhouse") таунхаус
          p.project__promo-price от 105 264 000 ₽
        .project__content
          p.project__title Mudon Al Ranim
          p.project__subtitle Dubailand
          p.project__descr Mudon Al Ranim - это коллекция элегантных таунхаусов в Дубай.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") Смотреть
        include project-popup/mudon.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-lavioleta.webp" alt="La Violeta 2")
        .project__promo
          p.project__promo-descr(data-type="townhouse") таунхаус
          p.project__promo-price от 34 680 000 ₽
        .project__content
          p.project__title La Violeta 2
          p.project__subtitle Dubailand
          p.project__descr La Violeta 2 – кластер жилых резиденций в одном из самых зеленых оазисов Дубая
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 4
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") Смотреть
        include project-popup/la-violeta.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-bluewatersbay.webp" alt="Bluewaters Bay")
        .project__promo
          p.project__promo-descr(data-type="flat") Пентхаус
          p.project__promo-price от 52 224 000 ₽
        .project__content
          p.project__title Bluewaters Bay
          p.project__subtitle Блювотерс Бэй
          p.project__descr Bluewaters Bay — лучший выбор для тех, кто хочет насладиться курортным стилем жизни на берегу Персидского залива. Комплекс состоит из двух продуманно спроектированных башен. Будущие жильцы могут выбрать жилую единицу из квартир с 1-4 спальнями и пентхаусов.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") Смотреть
        include project-popup/bluewaters-bay.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-sixsenses.webp" alt="Six Senses")
        .project__promo
          p.project__promo-descr(data-type="townhouse") элитный жилой комплекс
          p.project__promo-price от 191 760 000 ₽
        .project__content
          p.project__title Six Senses
          p.project__subtitle Пальма Джумейра
          p.project__descr Six Senses The Palm, первый отель и резиденция Six Senses в ОАЭ, является новой вехой для сети ультра-роскошных отелей. Проект предлагает 60 роскошных гостиничных номеров и 162 изысканных резиденции, расположенных на культовой Пальме Джумейра.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") Смотреть
        include project-popup/six-senses.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-seascape.webp" alt="Seascape")
        .project__promo
          p.project__promo-descr(data-type="townhouse") элитный жилой комплекс
          p.project__promo-price от 26 520 000 ₽
        .project__content
          p.project__title Seascape
          p.project__subtitle Рашид Марина
          p.project__descr Emaar Seascape — это роскошный жилой комплекс, расположенный на набережной в оживленном районе Rashid Yachts & Marina.  проект предлагает на продажу 1-3 комнатные квартиры и таунхаусы с живописными видами пристани, пляжа и окрестностей
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") Смотреть
        include project-popup/seascape.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-zuhaisland.webp" alt="Zuha Island")
        .project__promo
          p.project__promo-descr(data-type="villa") Виллы
          p.project__promo-price от 1 224 000 000 ₽
        .project__content
          p.project__title Zuha Island
          p.project__subtitle Остров Зуха
          p.project__descr Эксклюзивные резиденции на острове ZUHA будут обслуживаться отелем FIVE, который предложит услуги a la carte, такие как уборка, техническое обслуживание, питание и т. д. Жильцы вилл смогут насладиться первоклассной кухней, заказав блюда из четырех основных столовых заведений в эксклюзивном сообществе.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") Смотреть
        include project-popup/zuha-island.pug
