section.projects
  .projects__bg
  .wrapper
    .projects__banner
      h2.projects__title Проекты
      button.projects__btn Бесплатная консультация
    .projects__items
      h2.projects__items-title горячие предложения
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-1.webp" alt="")
        .project__promo
          p.project__promo-descr(data-type="appart") апартаменты
          p.project__promo-price от 1 600 984 ₽
        .project__content
          p.project__title OPAL GARDENS
          p.project__subtitle Creek harbour district
          p.project__descr Opal Gardens в Мохаммед Бин Рашид Сити (MBR City), район 11 — это новый жилой комплекс
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/project-benefits-bath.webp")
              p 1
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/project-benefits-bad.webp")
              p 2
          button.project__btn(type="button") Смотреть
        include project-popup/opal-gardens.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-2.webp" alt="")
        .project__promo
          p.project__promo-descr(data-type="villa") вилла
          p.project__promo-price от 100 600 984 ₽
        .project__content
          p.project__title МУДОН АЛЬ РАНИМ
          p.project__subtitle Creek harbour district
          p.project__descr Выбор роскошных апартаментов к вашим услугам
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/project-benefits-bath.webp")
              p 1
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/project-benefits-bad.webp")
              p 2
          button.project__btn(type="button") Смотреть
        include project-popup/mudon.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-3.webp" alt="")
        .project__promo
          p.project__promo-descr(data-type="flat") квартира
          p.project__promo-price от 100 600 984 ₽
        .project__content
          p.project__title МУДОН АЛЬ РАНИМ
          p.project__subtitle Creek harbour district
          p.project__descr Жители смогут воспользоваться легкостью и удобством, предлагаемыми...
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/project-benefits-bath.webp")
              p 1
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/project-benefits-bad.webp")
              p 2
          button.project__btn(type="button") Смотреть
        include project-popup/mudon.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-1.webp" alt="")
        .project__promo
          p.project__promo-descr(data-type="flat") вилла
          p.project__promo-price от 100 600 984 ₽
        .project__content
          p.project__title МУДОН АЛЬ РАНИМ
          p.project__subtitle Creek harbour district
          p.project__descr Выбор роскошных апартаментов к вашим услугам
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/project-benefits-bath.webp")
              p 1
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/project-benefits-bad.webp")
              p 2
          button.project__btn(type="button") Смотреть
        include project-popup/mudon.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-3.webp" alt="")
        .project__promo
          p.project__promo-descr(data-type="appart") вилла
          p.project__promo-price от 100 600 984 ₽
        .project__content
          p.project__title МУДОН АЛЬ РАНИМ
          p.project__subtitle Creek harbour district
          p.project__descr Выбор роскошных апартаментов к вашим услугам
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/project-benefits-bath.webp")
              p 1
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/project-benefits-bad.webp")
              p 2
          button.project__btn(type="button") Смотреть
        include project-popup/mudon.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-2.webp" alt="")
        .project__promo
          p.project__promo-descr(data-type="villa") вилла
          p.project__promo-price от 100 600 984 ₽
        .project__content
          p.project__title МУДОН АЛЬ РАНИМ
          p.project__subtitle Creek harbour district
          p.project__descr Выбор роскошных апартаментов к вашим услугам
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/project-benefits-bath.webp")
              p 1
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/project-benefits-bad.webp")
              p 2
          button.project__btn(type="button") Смотреть
        include project-popup/mudon.pug
