section.projects#projects
  .projects__bg
  .wrapper
    .projects__banner
      h2.projects__title Проекты
      a.projects__btn(href="#form") Бесплатная консультация
    .projects__items
      h2.projects__items-title горячие предложения
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-palmbeach.webp" alt="Palm Beach Tower apparts")
        .project__promo
          p.project__promo-descr(data-type="appart") апартаменты
          p.project__promo-price от 40 864 664 ₽
        .project__content
          p.project__title Palm Beach Tower 
          p.project__subtitle Palm Jumeirah
          p.project__descr Palm Beach Tower - предлагает залитые солнцем пространства, исключительные кухни
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 5
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 4
          button.project__btn(type="button") Смотреть
        include project-popup/palm-beach.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-burjbinghatti.webp" alt="Burj Binghatti Jacob & Co Residences Best")
        .project__promo
          p.project__promo-descr(data-type="appart") аппартамены
          p.project__promo-price от 204 323 324 ₽
        .project__content
          p.project__title Burj Binghatti Jacob & Co Residences
          p.project__subtitle SHEIKH ZAYED ROAD
          p.project__descr Роскошный современный образ жизни в мегаполисе
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") Смотреть
        include project-popup/burj-binghatti.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-cavallicouture.webp" alt="Cavalli Couture")
        .project__promo
          p.project__promo-descr(data-type="appart") апартаменты
          p.project__promo-price от 336 600 000 ₽
        .project__content
          p.project__title Cavalli Couture
          p.project__subtitle Канал Дубай
          p.project__descr DAMAC представляет новый Cavalli Couture с апартаментами с 3, 4 и 5 спальнями, расположенными на Дубайском водном канале. Резиденции теперь могут наслаждаться роскошным образом жизни, выходящим за рамки роскоши и класса, которые являются стандартными и премиальными, благодаря привлекательному образу жизни рядом с каналом.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 2
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 2
          button.project__btn(type="button") Смотреть
        include project-popup/сavalli-сouture.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-elegancetower.webp" alt="Elegance Tower")
        .project__promo
          p.project__promo-descr(data-type="appart") апартаменты
          p.project__promo-price от 36 516 000 ₽
        .project__content
          p.project__title Elegance Tower
          p.project__subtitle Даунтаун дубай
          p.project__descr Elegance Tower — это новый жилой проект премиум-класса, разработанный совместно со знаменитой иконой стиля Зухайром Мурадом, который будет расположен в центре Дубая. Девелопером этого потрясающего небоскреба является компания DAMAC, известная такими проектами, как DAMAC Lagoons и фешенебельная Cavalli Tower.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") Смотреть
        include project-popup/elegance-tower.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-sobhaseahaven.webp" alt="Sobha SeaHaven")
        .project__promo
          p.project__promo-descr(data-type="appart") апартаменты
          p.project__promo-price 64 872 000 ₽
        .project__content
          p.project__title Sobha SeaHaven
          p.project__subtitle Дубай Марина
          p.project__descr Sobha SeaHaven — один из последних проектов в Дубае от Sobha Realty, застройщика премиум-класса, известного своими роскошными застройками, такими как Crest Grande, The Waves, Hartland Greens и One Park Avenue.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") Смотреть
        include project-popup/sobha-seahaven.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-сhictower.webp" alt="Chic Tower")
        .project__promo
          p.project__promo-descr(data-type="appart") апартаменты
          p.project__promo-price от 16 789 200 ₽
        .project__content
          p.project__title Chic Tower
          p.project__subtitle Фирменные резиденции в Business Bay
          p.project__descr DAMAC Chic Tower предлагает эксклюзивные студии и апартаменты с 1-2 спальнями на продажу в Business Bay с целостным стилем жизни, который объединяет восстановительные ванны, косметические процедуры, современные тренажерные залы, жилую роскошь и уникальную интерпретацию ювелиром de GRISOGONO одного из самых любимые драгоценные камни
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 2
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 2
          button.project__btn(type="button") Смотреть
        include project-popup/chic-tower.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-thecove.webp" alt="The Cove")
        .project__promo
          p.project__promo-descr(data-type="appart") апартаменты
          p.project__promo-price от 26 520 000 ₽
        .project__content
          p.project__title The Cove
          p.project__subtitle Дубай Крик Харбор
          p.project__descr The Cove — это роскошный комплекс апартаментов на набережной от Emaar Properties, который строится в новом прибрежном районе Дубая Дубай-Крик-Харбор. Проект расположен в южной части острова Крик на набережной канала, в 200 м от воды.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 2
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") Смотреть
        include project-popup/the-cove.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-orladorchester.webp" alt="Orla Dorchester")
        .project__promo
          p.project__promo-descr(data-type="appart") апартаменты
          p.project__promo-price от 448 800 000 ₽
        .project__content
          p.project__title Orla Dorchester
          p.project__subtitle Пальма Джумейра
          p.project__descr Orla — это 13-этажное здание, состоящее из 93 квартир различной планировки, которое будет расположено в одном из самых привлекательных мест Дубая — на Пальме Джумейра. Владельцы могут выбирать из 2-комнатных квартир и 3-4-комнатных одноуровневых и двухуровневых квартир на продажу.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 3
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") Смотреть
        include project-popup/orla-dorchester.pug
      .projects__item.project
        picture.project__img
          img(src="images/dest/project-safaone.webp" alt="Safa One")
        .project__promo
          p.project__promo-descr(data-type="appart") апартаменты
          p.project__promo-price от 32 640 000 ₽
        .project__content
          p.project__title Safa One
          p.project__subtitle Парк Сафа на фоне центра Бурдж-Халифа и Бизнес-Бэй
          p.project__descr DAMAC Safa One — это тропический рай на вершине роскоши, откуда открывается захватывающий дух вид. Будь то изысканный дом с 1 спальней в башне B или ультра-роскошный люкс с 2 или 3 спальнями и личным бассейном-лягушатником, Safa One устанавливает новый высокий стандарт изысканности.
          .project__benefits
            .project__benefits-item.project__benefits-bath
              img(src="images/dest/bathroom.webp" alt="Bathrooms")
              p 2
            .project__benefits-item.project__benefits-bad
              img(src="images/dest/bedroom.webp" alt="Bedrooms")
              p 3
          button.project__btn(type="button") Смотреть
        include project-popup/safa-one.pug
