section.quiz
  .wrapper
    .quiz__content
      .quiz__bar
      h3.quiz__title Подбор недвижимости в дубаи
      form.quiz__form
        .quiz__q С какой целью вы приобретаете недвижимость в ОАЭ?
        .quiz__a
          input(type="checkbox" id="quiz-a1")
          label(for="quiz-a1") Для инвестиций
        .quiz__a
          input(type="checkbox" id="quiz-a2")
          label(for="quiz-a2") Для проживания
      .quiz__footer
        .quiz__logo
          img(src="images/dest/quiz-logo.webp")
        .quiz__nav
          button.quiz__prev
          button.quiz__next Далее
    .quiz__slider
      picture
        img(src="images/dest/quiz.webp" alt="")
