section.qwiz
  .wrapper
    .qwiz__content
      .qwiz__bar
      h2.qwiz__title Подбор недвижимости в дубаи
      .qwiz__form
        .qwiz__q С какой целью вы приобретаете недвижимость в ОАЭ?
        .qwiz__a Для инвестиций
        .qwiz__a Для проживания
      .qwiz__footer
        .qwiz__logo
        .qwiz__nav
          button.qwiz__prev
          button.qwiz__next Далее
    .qwiz__slider
