extends includes/layout

block content
  main.main
    include blocks/banner
    include blocks/quiz
    include blocks/benefits
    include blocks/projects
    include blocks/about
    
    script(src="js/app.min.js")
