extends includes/layout-premium-en

block content
  main.main
    include blocks/en/banner
    include blocks/en/quiz-premium
    include blocks/en/benefits
    include blocks/en/projects-premium
    include blocks/en/about
    include blocks/en/form-premium
    include blocks/en/faq
    include blocks/en/popup-promo
    include includes/whatsApp-button
    
    script(src="js/app.min.js")
